html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Framer-specific styles */
#svg-templates {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 0;
  contain: strict;
}
